.recipeContainer{
    width: 700px;
    height: 1000px;
    margin:auto;
    padding: 20px;
    border: solid 2px #000;
    border-radius: 5px;
    background-color: bisque;
}

.recipeHeadingCont{
    background-color: aqua;
    margin: 10px;
}

.recipeImage{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    padding-left: 200px;
}

.recipeList{

}